
.page_sider{
        width: 220px;
        // background-color: #b3cbfb;
        color: #367ff0;
        height: calc(100vh - 56px);
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 999;
}
.page_display{
        position: relative;
        left: 220px;
        width: calc(100% - 220px);
}
.card{
        width: 95%;
}
.table{
        width: 100%;
}
.btn{
        margin-left: 20px;
}
    
